# This is a credit card company dataset:

In [1]:
import os
import pandas as pd
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("/Users/sukhen/Desktop/CSV_files/Credit History/credit_history.csv")

# Basic EDA:

In [3]:
df.head()

   default  amount grade  years ownership   income  age
0        0    1000     B    2.0      RENT  19200.0   24
1        1    6500     A    2.0  MORTGAGE  66000.0   28
2        0    2400     A    2.0      RENT  60000.0   36
3        0   10000     C    3.0      RENT  62000.0   24
4        1    4000     C    2.0      RENT  20000.0   28

In [4]:
# Looking for the shape of dataset:
df.shape

(7727, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7727 entries, 0 to 7726
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   default    7727 non-null   int64
 1   amount     7727 non-null   int64
 2   grade      7727 non-null   object
 3   years      7448 non-null   float64
 4   ownership  7727 non-null   object
 5   income     7727 non-null   float64
 6   age        7727 non-null   int64
dtypes: float64(2), int64(3), object(2)
memory usage: 422.7+ KB

In [6]:
#Checking for null values:
df.isnull().sum()

default        0
amount         0
grade          0
years        279
ownership      0
income         0
age            0
dtype: int64

Observation: years column has null values in the total dataset

In [7]:
df.years.describe()

count    7448.000000
mean        6.086332
std         6.700758
min         0.000000
25%         2.000000
50%         4.000000
75%         8.000000
max        62.000000
Name: years, dtype: float64

Oberservation: Having null values we also checked the stats for years seeing which we indentify there is a skewness in data , because of which we use Median ,i.e. 50% percentile value to replace our null values

In [8]:
df['years'].fillna(4,inplace=True)

In [9]:
df.isnull().sum()

default      0
amount       0
grade        0
years        0
ownership    0
income       0
age          0
dtype: int64

In [10]:
df.head()

   default  amount grade  years ownership   income  age
0        0    1000     B    2.0      RENT  19200.0   24
1        1    6500     A    2.0  MORTGAGE  66000.0   28
2        0    2400     A    2.0      RENT  60000.0   36
3        0   10000     C    3.0      RENT  62000.0   24
4        1    4000     C    2.0      RENT  20000.0   28

In [11]:
#Target which we want to predict
y=df.default
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [12]:
#Creating a dataset of all features which needs to be trained
X=df.drop('default',axis=1)
X.head()

   amount grade  years ownership   income  age
0    1000     B    2.0      RENT  19200.0   24
1    6500     A    2.0  MORTGAGE  66000.0   28
2    2400     A    2.0      RENT  60000.0   36
3   10000     C    3.0      RENT  62000.0   24
4    4000     C    2.0      RENT  20000.0   28

In [13]:
#Creating Dummies
X=pd.get_dummies(X)
X.head()

,amount,years,income,age,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,ownership_MORTGAGE,ownership_OTHER,ownership_OWN,ownership_RENT
0,1000,2.0,19200.0,24,0,1,0,0,0,0,0,0,0,0,1
1,6500,2.0,66000.0,28,1,0,0,0,0,0,0,1,0,0,0
2,2400,2.0,60000.0,36,1,0,0,0,0,0,0,0,0,0,1
3,10000,3.0,62000.0,24,0,0,1,0,0,0,0,0,0,0,1
4,4000,2.0,20000.0,28,0,0,1,0,0,0,0,0,0,0,1

# Modeling with Decesion Tree Classifier:

In [14]:
#Importing the model_selection for train_test_split
import sklearn.model_selection as model_selection

In [15]:
#Creating training and test dataset for modelling :
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2,random_state=99)

In [16]:
#Getting the shape of the training and testing dataset
print('X_train shape:',X_train.shape)
print('y_train shape:',y_train.shape)
print('X_test shape:',X_test.shape)
print('y_test shape:',y_test.shape)

X_train shape: (6181, 15)
y_train shape: (6181,)
X_test shape: (1546, 15)
y_test shape: (1546,)

In [17]:
# Import library for modeling:
import sklearn.tree as tree

In [18]:
#Initializing the decesion tree classifier:
clf= tree.DecisionTreeClassifier(max_depth=3,random_state=99)

In [19]:
#Training decesion_tree:
clf.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=99)

In [20]:
#Predicted values of X_train dataset
predictions = clf.predict(X_train)
predictions

array([1, 0, 1, ..., 1, 1, 1])

In [21]:
# Actual values
y_train.head()

4416    1
421     0
1783    0
7240    0
1738    1
Name: default, dtype: int64

In [22]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [23]:
#Confusion_matrix
Confu_matrix = confusion_matrix(y_train,predictions)
Confu_matrix

array([[1794, 1451],
       [ 829, 2107]])

In [24]:
#Accuracy on training dataset
Accuracy = accuracy_score(y_train,predictions)
Accuracy

0.6311276492476946

In [25]:
#Predict Test
predict_test = clf.predict(X_test)

In [26]:
predict_test

array([1, 1, 0, ..., 0, 0, 1])

In [27]:
#Actual test values:
y_test.head()

4574    1
4686    1
1991    0
603     1
6364    1
Name: default, dtype: int64

In [28]:
#Confusion_matrix
Confu_matrix = confusion_matrix(y_test,predict_test)
Confu_matrix

array([[451, 334],
       [223, 538]])

In [29]:
# Accuracy on test dataset
Accuracy = accuracy_score(y_test,predict_test)
Accuracy

0.6397153945666235

# Visualization:

In [30]:
#Installing the required libraries
!pip install pydotplus
!pip install graphviz

Requirement already satisfied: pydotplus in /Users/sukhen/opt/anaconda3/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in /Users/sukhen/opt/anaconda3/lib/python3.8/site-packages (from pydotplus) (2.4.7)
Requirement already satisfied: graphviz in /Users/sukhen/opt/anaconda3/lib/python3.8/site-packages (0.20.1)

In [31]:
# Importing the libraries for visualization:
import pydotplus
from IPython.display import Image
from sklearn.tree import export_graphviz
import graphviz
from graphviz import Source

In [32]:
#create the decesion tree as dot file
dot_data = export_graphviz(clf,out_file = None,feature_names=X.columns,filled = True,rounded=True,
           special_characters=True,proportion=True)

In [33]:
#create the graph from dot file
graph = Source(dot_data)

In [34]:
graph

# Grid Search Cross Validation:

In [35]:
mod=model_selection.GridSearchCV(clf,param_grid={'max_depth':[2,3,4,5,6,7,8,9]})

In [36]:
mod.fit(X_train,y_train)

GridSearchCV(estimator=DecisionTreeClassifier(max_depth=3, random_state=99),
             param_grid={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9]})

In [37]:
mod.best_estimator_

DecisionTreeClassifier(max_depth=2, random_state=99)

In [38]:
mod.best_score_

0.6301601379263433

In [39]:
mod.best_params_

{'max_depth': 2}